@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/song.css";

body {
  font-family: 'Nanum Pen Script', cursive;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}





